doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Password Reset
    style.
      body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      text-align: center;
      }
      .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
      color: #007bff;
      }
      .reset-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      }
  body
    .container
      h1 Password Reset
      p Dear User,
      p #{url}
      p You have requested to reset your password. Click the button below to reset your password:
      a.reset-button(href="https://app.brevo.com") Reset Password
      p If you didn&apos;t request a password reset, you can ignore this email.
      p Best regards,
      p Your Name
